sequence_file=path_to_seq_file
validated_targets_location=path_to_validated_targets_folder
formatted_data_file=path_to_features_file
dictionary_file=path_to_dictionary_file
mirna_gene_ids_file=path_to_mirna_gene_ids_file
negative_pairs_file=path_to_negative_pairs_file